# Dependencies
/node_modules
/.pnp
.pnp.js

# Production
/build
/dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dotenv environment variable files
.env
.env.local
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp
/tmp

# TypeScript
*.tsbuildinfo

# Testing
coverage
.nyc_output

# OS
.DS_Store
Thumbs.db
